logs
playerSnapshots
resourcepacks
server-resource-packs
options.txt 
icon.png
patchouli_data.json
usercache.json
usernamecache.json
saves
schematics
screenshots
XaeroWaypoints*
XaeroWorldMap
vaulthunters-2.5.code-workspace
openloader/.cache
config
fancymenu_data
crash-reports
mods/.index
backups
local
emojiful/*
hotbar.nbt
lightspeed-cache
shaderpacks
servers.dat
servers.dat_old