coremods
logs
mods
playerSnapshots
shaderpacks
texturepacks
server-resource-packs
data
options.txt 
icon.png
patchouli_data.json
usercache.json
usernamecache.json
saves
resourcepacks
schematics
screenshots
Xaero*
openloader/.cache
