logs
playerSnapshots
resourcepacks
server-resource-packs
options.txt 
icon.png
patchouli_data.json
usercache.json
usernamecache.json
saves
schematics
screenshots
XaeroWaypoints*
XaeroWorldMap
vaulthunters-2.5.code-workspace
openloader/.cache
config/environmental
config/valkyrielib
config/jei/bookmarks.ini
crash-reports
mods/.index
modernfix*
backups
local
emojiful